@import "../../../styles/components/variables.scss";

.container {
	position: relative;
	display: flex;
	flex-direction: row;

	width: 100%;
	height: 64px;
	padding-left: 2rem;

	background-color: white;
	box-shadow: 0 2px 3px $light-gray-color; 
}

.searchWrapper {
	position: relative;

	width: 440px;
	height: 2.5rem;
	margin: .7rem 0;

	color: $gray-qj;


	.searchBox {
		width: 368px;
		height: 100%;

		border-radius: 2px 0 0 2px;
		background-color: $gray-bj;

		// reset search
		border: none;
		padding: 0 1rem;
		outline: 0;
	}

	.searchDown {
		position: absolute;
		top: 0;
		right: 48px;

		display: inline-block;

		line-height: 2.4rem;
		text-align: center;
		vertical-align: middle;
	}
	
	.searchSymbol {
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;

		display: block;
		width: 40px;

		line-height: 40px;
		vertical-align: middle;
		text-align: center;
		color: white;
		background-color: $gray-qj;
		border-radius: 0 2px 2px 0;
		cursor: pointer;
	}
}

.createWrapper {
	width: 160px;

	height: 2.5rem;
	margin: .7rem 0;
	margin-left: 4rem;

	background-color: $primary-color;
	border-radius: 2px;
	color: white;
	line-height: 2.5rem;
	vertical-align: middle;
	text-align: center;
	cursor: pointer;

	.createSymbol {
		margin-left: .6rem;
	}
}

.datetimeWrapper {
	position: absolute;
	
	top: 0;
	right: 2rem;

	height: 2.5rem;
	margin: .7rem 0;

	line-height: 2.5rem;
	vertical-align: middle;
	color: $gray-qj;
}