// font
$font-size: 16px;


// color
$primary-color: #FF5595;
$second-color: #30e8bd;

$warning-color: #e83a30;
$link-color: #3080e8;

$nav-background-color: #2A2D33;
$nav-background-light-color: #141619;

$page-background-color: rgb(232,232,232);
$logo-color: #14D6A9;

$gray-white-color: #e4e4e4;
$light-gray-color: #b4b4b4;
$gray-color: #848484;
$deep-gray-color: #545454;
$gray-black-color: #242424; 

$gray-bj: #f5f5f5;
$gray-qj: #A8AAAB;