.articleDetail {
  position: relative;
  width: 100%;
  padding-bottom: 4rem;
  background: rgba(0,0,0,0.08);
}

// Header
.articleHeader {
  width: 100%;
  background: white;
}

.headerTop {
  img {
    width: 100%;
    height: 200px;
    background-size: cover;
  }
}

.headerFloatWrapper {
  position: fixed;
  top: .5rem;
  left: 1rem;
  right: 1rem;
  z-index: 100;

  span {
    display: inline-block;
    line-height: 1;
    font-size: 16px;
    padding: 13px 13px 11px 11px;
    height: 40px;
    width: 40px;
    text-align: center;
    border-radius: 500px;
    color: white;
    background-color: rgba(0,0,0,0.72);
  }

  .like {
    margin-right: 1rem;
    background-color: rgba(255,78,78,0.78);
  }

  .share {
    background-color: rgba(30,144,255,0.78);
  }
}

.headerRightWrapper {
  float: right;
}

.headerTitle {
  position: relative;
  margin-top: 1rem;
  padding: 0 1rem;
  font-size: 1.2rem;
  font-weight: bold;

  &::before {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    bottom: 0;
    width: 3px;
    background: #FB7070;
  }
}

.headerBottom {
  margin-top: 1.3rem;
  padding: 0 1rem;

  .activity {
    padding: 2px 4px;
    color: #37ccff;
    font-size: 12px;
    border-radius: 2px;
    border: 1px solid #37ccff;
    margin-right: .8rem;
  }

  .datetime {
    color: #666;
    font-size: 12px;
    margin-right: .5rem;
  }
}

.headerOpt {
  margin-top: 1.7rem;
  padding: 0 1rem;
  padding-bottom: .5rem;

  .number {
    color: #aaa;
    font-size: 12px;
    margin-right: 1rem;
  }

  .icon {
    font-size: 13px;
    color: #aaa;
    margin-right: .3rem;
  }
}


// Content
.articleContent {
  margin-top: 2rem;
  width: 100%;
  background-color: white;
}

.contentHeader {
  position: relative;
  padding: 1rem;
  font-weight: bold;

  &:before {
    position: absolute;
    content: "";
    top: .8rem;
    bottom: .8rem;
    left: 0;
    width: 3px;
    background-color: #FB7070;
  }
}

.contentBody {
  padding: 0 1rem 1rem 1rem;
  color: #333;
  line-height: 1.8;
  letter-spacing: .5px;
}
