.postDetailContainer {
  position: relative;
  color: #333;
  padding-bottom: 4rem;
  background-color: #ddd;
}

.postHeader {
  position: relative;
  padding: 1rem 0;
  background-color: white;

  .info {
    padding: 0 1rem;

    &:after {
      display: block;
      content: '.';
      height: 0;
      visibility: hidden;
      clear: both;
    }

    img {
      float: left;
      width: 40px;
      height: 40px;
      border-radius: 100px;
      background-size: cover;
    }

    .cata {
      float: right;
      color: #FB7070;

      .icon {
        margin-right: .5rem;
      }
    }

    .author {
      display: inline-block;
      margin-left: 1rem;
      line-height: 1;

      .name {
        margin-top: 5px;
        font-weight: bold;
      }

      .datetime {
        margin-top: .5rem;
        font-size: 12px;
        color: #666;
      }
    }
  }

  .title {
    position: relative;
    margin-top: 2rem;
    padding: 0 1rem;
    font-weight: bold;

    &:before {
      position: absolute;
      content: "";
      top: 0;
      bottom: 0;
      left: 0;
      width: 3px;
      background: #FB7070;
    }
  }

  .body {
    margin-top: 1rem;
    padding: 0 1rem;
    color: #666;
    line-height: 1.7;
    letter-spacing: .5px;
  }

  .operateWrapper {
    position: absolute;
    padding: .5rem .8rem;
    top: 1rem;
    right: 0;
    background-color: #FB7070;
    color: white;
    border-radius: 2px;
    box-shadow: -2px 2px 5px rgba(0,0,0,0.12);

    .icon {
      margin-right: .5rem;
    }
  }

  .meta {
    margin-top: 1.7rem;
    padding: 0 1rem;
    color: #666;
    font-size: 12px;
  }
}
