.container {
  margin-bottom: 1rem;
}

.publicNoticWrapper {
  width: 100%;
  height: 180px;

  img {
    display: block;
    width: 100%;
    height: 132px;
    background-size: cover;
  }
}

.linksWrapper {
  width: 100%;
  padding: 0 1rem;
  background: white;
  box-shadow: 0 2px 4px rgba(0,0,0,0.18);
  font-size: 14px;
  z-index: 3;
}

.linkItem {
  position: relative;
  display: inline-block;
  padding: 1em;
  margin-right: .5rem;

  &.active::before {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    right: 0;
    height: 2px;
    background-color: #ff5595;
  }
}

// 正文内容区
.sectionWrapper {
  font-size: 14px;
  margin-top: 1rem;
}

.postSection {
  margin-top: 1rem;
  width: 100%;
  height: 300px;

  .title {
    position: relative;
    padding: 1rem;
    color: #666;
    border-bottom: 1px solid #e7e7e7;
    background-color: white;

    &::before {
      position: absolute;
      z-index: 1;
      content: '';
      top: 1rem;
      left: 8px;
      width: 2px;
      bottom: 1rem;
      background-color: #ff5595;
    }
  }

  .list {
    padding: 0 1rem;
    background-color: white;
  }
}

.sectionItem {
  display: flex;
  flex-direction: row;
  padding: 1.5rem 0;
  border-bottom: 1px solid #e7e7e7;

  &:last-of-type {
    border: none;
  }
}

.sectionLeft {
  flex: 2;

  img {
    width: 60px;
    height: 60px;
    background-size: cover;
  }
}

.sectionRight {
  flex: 8;

  .top {
    font-weight: bold;
  }

  .contentWrapper {
    margin-top: .5rem;
  }

  .bottom {
    font-size: 12px;
    margin-top: .5rem;
    color: #666;

    .icon {
      font-size: 12px;
      margin-right: 4px;
    }

    .link,
    .view,
    .comment {
      margin-right: 1rem;
    }
  }
}
