@import "../../styles/components/variables.scss";

.container {
	display: flex;
	flex-direction: row;
	justify-content: space-around;

  font-size: 1em;
	width: 100%;
	background: white;
	box-shadow: 0 -2px 5px rgba(0,0,0,0.12);
}

.navItem {
  position: relative;
	text-align: center;
	padding: .6rem 1rem;

  .icon {
    font-size: 14px;
    margin-right: 4px;
  }

  .text {
    font-size: 14px;
    vertical-align: middle;
    color: #666;
  }

  &.active {
    color: #ff5595;

    .text {
      color: #ff5595;
    }
  }
}
