.container {
  position: relative;
  display: flex;
  flex-direction: row;

  padding: .5rem;
  margin: .8rem 0;

  border-radius: 2px;
  background-color: white;
  box-shadow: 2px 1px 2px rgba(0, 0, 0, 0.12);
}

.leftWrapper {
  flex: 0 90px;
  width: 90px;
  height: 90px;
}

.rightWrapper {
  flex: 1;
  margin-left: .5rem;
}

.image {
  width: 100%;
  height: 100%;
  background-size: cover;
}

.info {
  font-size: 12px;
  color: #aaa;
}

.articleType {
  float: right;
  display: inline-block;
  padding: 0 .4rem;
  margin-top: -2px;
  border-radius: 2px;
  background-color: #ff7e67;
  color: white;
}

.viewed {
  margin-left: .5rem;
}

.datetime {
  display: inline-block;
}

.title {
  margin-top: 4px;
  margin-right: 2.5rem;
  line-height: 1.6;
  font-size: 14px;
  font-weight: bold;
}

.spread {
  position: absolute;
  bottom: .3rem;
  right: .6rem;
  padding: 2px;
  padding-right: 10px;

  font-size: 12px;
  color: #aaa;

  &::after {
    position: absolute;
    content: "";
    top: 5px;
    right: 0;
    margin-left: 4px;
    width: 4px;
    height: 12px;
    background-color: #ff7e67;
    border-radius: 1px;
  }
}
